.operating-tab-top-content{
    padding-top : 3px;
    height : 60px;
    position: relative;
}

.operating-content .operating-tab-top-content,
.target-content .operating-tab-top-content{
    text-align : center;
}
.operating-content .operating-tab-top-content:after,
.target-content .operating-tab-top-content:after{
    content:'';
    display: table;
    clear: both;
}
#operating-common-tab-2 .operating-date-view {      width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    margin-top: 10px;
    left: 0;
    z-index: 0;}
.operating-date-btn{
    display : inline-block;
    float : left;
    line-height : 60px;
    position: relative; z-index:10;
}

.operating-date-btn ul > li > .k-button{
    width : 87px;
    margin-left: -3px;
}

.operating-date-btn ul > li > .k-button:first-child{
    margin-left : 0;
}

.operating-date-view{
    display : inline-block;
    text-align : center;
    margin-top: 10px;
}

.operating-date-view ul > li{
    display : inline-block;
}
.operating-date-view ul > .current{
    width: 292px;
    height: 36px;
    line-height: 36px;

}
.operating-date-view ul > .current span{
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.operating-view-btn{
    display: inline-block;
    float: right;
    line-height : 60px;
}

/*operating*/
.operating-content .operating-view-btn ul > li,
.monitoring-content .operating-view-btn ul > li{
    float: left;
    padding: 0 0 0 1px;
    position: relative;
    display: block;
    width: 38px;
}

.operating-content .operating-view-btn ul > li > button.ic,
.monitoring-content .operating-view-btn ul > li > button.ic{
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    webkit-box-shadow: none;
    box-shadow: none;
}

.operating-content .operating-view-btn ul > li > button.ic-view-graph.active,
.operating-content .operating-view-btn ul > li > button.ic-view-graph:hover,
.monitoring-content .operating-view-btn ul > li > button.ic-view-graph.active,
.monitoring-content .operating-view-btn ul > li > button.ic-view-graph:hover{
    background-position: -495px -144px;
}

.operating-content .operating-view-btn ul > li > button.ic-view-list.active,
.operating-content .operating-view-btn ul > li > button.ic-view-list:hover,
.monitoring-content .operating-view-btn ul > li > button.ic-view-list.active,
.monitoring-content .operating-view-btn ul > li > button.ic-view-list:hover{
    background-position: -495px -192px;
}
.operating-content .operating-filter-action-block:after { content: ''; display: table; clear:both; }
.operating-content .operating-filters{
	float: left;
    padding-top : 23px;
}
.operating-content .export-btn{
	float: right;
    padding-top : 23px;
}

/* Demand Monitoring */
/*Legend*/
.monitoring-content .monitoring-chart-legend{
    margin: 50px 0 10px;
}
.monitoring-content .monitoring-chart-legend-content:after,
.monitoring-content .monitoring-chart-legend-content .chart-legend-content-list:after{
    content: '';
    display: block;
    clear: both;
}
.monitoring-content .monitoring-chart-legend-content .chart-legend-content-list{
    float: right;
    padding: 10px 0 0;
}
.monitoring-content .monitoring-chart-legend-content .item{
    float: left;
    color: #727272;
    font-weight: 600;
    font-size: 14px;
    padding-right: 24px;
    position: relative;
}
.monitoring-content .monitoring-chart-legend-content .item .square{
    position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    top: 3px;
    margin-right: 9px;
}
.monitoring-content .monitoring-chart-legend-content .item .text{
    position: relative;
    display: block;
    float: left;
    /* width: 10px; */
    height: 10px;
    top: 0px;
    margin-right: 9px;
}
.monitoring-content .monitoring-chart-legend-content .item .line{
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 2px;
    margin-right: 9px;
    top: 6px;
}
/*그리드 탑부분*/
.monitoring-grid-top{
    margin: 20px 0;
    height: 50px;
    line-height: 50px;
}
.monitoring-grid-top .monitoring-grid-top-info:after{
    content: '';
    display: block;
    clear: both;
}
.monitoring-grid-top .monitoring-grid-top-devider{
    float: left;
    width: 2%;
    height: 50px;
}
.monitoring-grid-top .monitoring-grid-top-info .content{
    float: left;
    width: 49%;
    text-align: center;
    background-color: rgb(240, 240, 240);
}
.monitoring-grid-top .monitoring-grid-top-info .content-inner{
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}
.monitoring-grid-top .monitoring-grid-top-info .content .name{
    float: left;
}
.monitoring-grid-top .monitoring-grid-top-info .content .detail{
    float: right;
}
.monitoring-grid-top .monitoring-grid-top-info .content .detail .value{
    margin: 0 5px;
    font-weight: 600;
    font-size: 22px;
}
.monitoring-grid-top .monitoring-grid-top-info .content .detail .unit{
    font-size: 16px;
}



/*Target*/
/*
.target-content .operating-view-btn ul > li*/

.operating-filters .operating-filters-list > li{
    display : inline-block;
    margin-right : 4px;
}
.k-chart {
            width: 100%;
            height: 600px;
        }
.operating-content,.operating-layout { height: 100%; }
.operating-content-block { height: calc(100% - 122px);}
#operating-main-view-content { padding-top:30px; height: 100%; box-sizing: border-box; }
#operating-main-view-content > div:not(.graphTopBox) { height: calc(100% - 35px); }
#operating-main-view-content > div:not(.graphTopBox):first-child { height: calc(100%); }
#operating-grid{position: relative;}
#operating-main-view { padding-top: 0px; height: 100%; }
#operating-main-view > div { height: 100%; }
.graphTopBox { position: relative; padding: 0 35px; }
.graphTopBox:after { content: ''; display: table; clear:both; }
.graphTopBox .left {float: left;  padding: 10px 0 0;}
.graphTopBox .right{float: right; padding: 10px 0 0;}
.graphTopBox .left .graph-unit{position: absolute;left: -10px; top: 9px;    width: 50px; display: inline-block; text-align: center;}
.graphTopBox .right .graph-unit{position: absolute; right: -14px; top: 9px; width: 40px; display: inline-block; text-align: center;}
.monitoring-chart-legend-content .graph-unit{     margin-top: 10px; display: inline-block;}

.graphTopBox li { float: left;
    color: #727272;
    font-weight: 600;
    font-size: 14px;
    padding-right: 24px;
    position: relative; }
.graphTopBox .k-checkbox-label{ padding-left: 20px;}
.graphTopBox li .line{ position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 2px;
    margin-right: 9px;
    top: 6px; }
.graphTopBox li .line .circle{ position: absolute;
    width: 8px;
    height: 8px;
    display: block;
    top: 50%;
    margin-top: -4px;
    border-radius: 100%;
    left: 50%;
    margin-left: -4px; }
.graphTopBox li .square{ position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    top: 2px;
    margin-right: 9px; }
.graphTopBox ul li:last-child{padding-right: 0;}

.operating-date-btn .k-button.active { background: #0081c6;
    color: #fff; }
#operating-main-view .k-grid-footer { position:absolute; top: 41px; left: 0; width: 100%; border:none; background: #f5f5f5; border-bottom: 1px solid #d6d6d6;box-sizing: border-box;}
#operating-main-view .k-grid-footer .k-grid-footer-wrap { border: none }
#operating-main-view .k-grid-footer .k-footer-template,
#operating-main-view .k-grid-footer .k-footer-template td{ border:none; background:#f5f5f5;}
#operating-main-view .k-grid-content { padding-top: 53px; height:100%;}


/* table 형태 리스트 */
#target-content { background: none; border: none; overflow-y: scroll; }
.targetTab01 #target-content { height: 685px; }
.targetTab02 .target-box{ margin-top:20px; }
.targetTab02 {overflow-y: scroll;  height: 745px; }
.targetTab02 #target-content{overflow-y: inherit; }
.targetTab02 .target-head{padding-right:0; }
.targetTab02 .target-head .embossBar{width: 100%; }
#targetGraph { margin-top:20px; }
.target-head { display:table;  width: 100%; position:relative; padding-right: 30px; box-sizing: border-box;}
.target-head .target-head-list { display:table-row; }
.target-head .target-head-list li { display:table-cell; width: 6.25%; color: #000;text-align: center;  font-weight: 700; font-size: 16px;height: 60px; vertical-align: middle;}
.target-head .target-head-list li.first { width: 25%; }
.target-head {  }
#target-content  .target-content-row:first-child{ border-top: none;}
.target-content-row { display:table;  width: 100%; border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6; margin-bottom: 10px;}
.target-content-row .table-row:first-child { bordedr-top:none; }
.target-content-row .table-row { display:table-row; }
.target-content-row .table-row > li { display:table-cell; width: 6.25%; text-align: center; height: 60px; vertical-align: middle;}
.targetTab02 .target-content-row .table-row > li { height: 85px; }
.targetTab02 .target-content-row .table-row li .left { float: left; text-align: left; line-height: 85px; padding-left: 30px; }
.targetTab02 .target-content-row .table-row li .right { float: right; text-align: right; line-height: 85px; }

.target-content-row .table-row li.first { width: 25%; color: rgba(0,0,0,0.85); font-weight: 600;}
.target-content-row .table-row li:after{ content:''; display: table; clear: both; }
.target-content-row .table-row li .left { float: left; text-align: left; line-height: 60px; margin-left: 30px; }
.target-content-row .table-row li .right { float: right; text-align: right; line-height: 60px; }
.target-content-row .table-row li .right .two-line:first-child { margin-top: 20px; }
.target-content-row .table-row li .right .two-line { line-height: 1; }
.target-content-row .table-row li .right .two-line +.two-line { margin-top:10px; color:#1aa05a; }
.target-content-row .table-row li .Reduction { color:#1aa05a ; }

.table-row.bg-color{background-color: #f0f0f0;}
.target-content-row .table-row li.first .text { color: rgba(0,0,0,0.85);font-size: 16px ;  font-weight: 600; }
.target-content-row .table-row li.first .num { color: #333; font-size: 24px ; font-weight: 700 ; }
.target-content-row .table-row .k-input { width: 75px; }
.target-content-row .table-row .right .k-input { width: 190px; }
.target-content-row .table-row .input-val { display: none; }
.target-head-list .yearSelect{ width: 110px;}
.embossBar{
	width: calc(100% - 30px);
    height: 2px;
    padding-bottom: 6px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    bottom: -6px;
    z-index: 20;}
.embossBar:after{
	content: "";
    display: block;
    height: 2px;
    top: 0;
    width: 100%;
    position: absolute;
    padding-right: 30px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    background: #fff;
    background: rgba(255,255,255,0.96);
}
.embossBar:before{
	content: "";
    display: block;
    height: 6px;
    padding-right: 30px;
    box-sizing: border-box;
    position: absolute;
    top: -4px;
    width: 100%;
    left: 0;
    right: 0;
    -moz-box-shadow: 0 0 9px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,.2);
    box-shadow: 0 0 9px rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=9,MakeShadow=true,ShadowOpacity=0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=9,MakeShadow=true,ShadowOpacity=0.2)";
    zoom: 1;
}

.input-val:disabled{    opacity: 0.3;}
.targetTab02 { display: none; }
.target-head-list .first:after{ content: ''; display: table; clear: both; }
.target-head-list .first .left { float: left; }
.target-head-list .first .right { float:right; }
.target-head-list .first .right .normal-box { line-height: 36px; }

/* 버튼 */
.button_list {position: relative; z-index:10; float: right; margin-top: 10px; }
.button_list .k-button { width: 108px; margin-left: 10px; }
.button_list {  }


/* sacMonitoring */
#operating-grid[data-operating-type=operationTime] .k-grid-footer { top:81px; }
#operating-grid[data-operating-type=powerGasUsage] .k-grid-footer { top:41px; }
#operating-grid[data-operating-type=operatingRate] .k-grid-footer { top:41px; }
.monitoring-content .operating-filters-list { margin-left: 20px; }

.top-box{  }
.middle-box{ margin-top: 30px; }
.middle-box:after{ content:''; display: table; clear: both; }
.middle-box .left-box{ float: left; width: calc(50% - 21px); height: 100%;}
.middle-box .right-box{
    float: right;
    width: 50%;
    background-color:#f0f0f0;
    padding: 23px 23px 33px 23px;
    height: 100%;
    box-sizing: border-box;
}
.bottom-box{
    margin-top: 18px;
    min-height: 300px;
    padding: 21px 23px 33px 20px;
    background-color: #f0f0f0;
}
.middle-box .left-box .view-box { display: table; background-color: #f0f0f0; width: 100%; height: calc(100% - 36px);}
#detection-main-view .boardtitle{
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;background-color:#f0f0f0;
}
.boardtitle.inefficiency-cases-title{
    padding: 18px 0px 0px 20px;
}
.boardtitle.inefficiency-top5-title{
    padding: 0px 0px 25px 0px;
}
.boardtitle.inefficiency-history-title{
    padding-bottom: 24px;
}
.middle-right-grid.k-grid tr,
.bottom-middle-grid.k-grid tr,
.middle-right-grid.k-grid tr.k-alt,
.bottom-middle-grid.k-grid tr.k-alt{
    background-color: #f0f0f0;
}
.middle-right-grid .k-alt,
.bottom-middle-grid .k-alt{
    background-color: #f0f0f0;
}
.middle-right-grid .k-grid-header th.k-header,
.bottom-middle-grid .k-grid-header th.k-header{
    background-color: #f0f0f0;
    padding-right: 0px;
    padding: 10px 0;
}
.middle-right-grid.k-grid .k-grid-header,
.bottom-middle-grid.k-grid .k-grid-header{
    padding-bottom: 0px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: #f0f0f0;
}
.middle-right-grid.k-grid .k-grid-header:after,
.bottom-middle-grid .k-grid-header:after{
    display: none;
}

.middle-right-grid.k-grid tr td,
.bottom-middle-grid.k-grid tr td{
    border-bottom: 1px solid #d6d6d6;
}


.middle-box .graph-box{
    display: table-cell;
    width: 325px;
    vertical-align: middle;
    height: 100%;
}

.middle-box .legendbox{ display: table-cell;
    width: auto;
    vertical-align: middle;
    height: 100%;padding: 0 70px 0 0;}
.chartLegend li {
    display: block;
    position: relative;
    padding-left: 28px;
}
.chartLegend .squmark {
    position: absolute;
    left: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    display: block;
}
.chartLegend .legendtxt {
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    float: left;
    display: block;
    font-size: 15.5px;
    font-weight: 600;
    line-height: 15.5px;
    padding: 6px 0;
}
.chartLegend .valuetxt {
    float: right;
    display: block;
    font-weight: 800;
    color: #323232;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 0;
}
.chartLegend li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.chartLegend li:nth-child(1) .squmark {
        background-color: #2c81db;
}
.chartLegend li:nth-child(2) .squmark {
        background-color: #08b5d4;
}
.chartLegend li:nth-child(3) .squmark {
        background-color: #68ba11;
}
.chartLegend li:nth-child(4) .squmark {
        background-color: #feac5a;
}
.chartLegend li:nth-child(5) .squmark {
        background-color: #f0824f;
}
.chartLegend li:nth-child(6) .squmark {
        background-color: #eb5b6c;
}
.chartLegend li:nth-child(7) .squmark {
        background-color: #7c62f0;
}

.detection-content .operating-date-view  { display: block; position: relative; }
.detection-content .operating-date-view > ul { position:absolute; top: 0; left: 50%; margin-left:-185px;}
.setting-cell .setting-drop{padding: 0;
    border: 0;
    width: 100px;}
.setting-container {
    height: 450px;
    overflow-y: auto;
    background-color: rgb(247, 247, 247);
    margin-bottom: 19px;
}
.condition-setting > ul { display: table; width: 100%; }
.condition-setting > ul li { display: table-cell; text-align: center; }
.condition-setting > ul li:first-child{ width:12%; }
.condition-setting > ul li:nth-child(2){ width:20% }
.condition-setting > ul li:nth-child(3){ width:68% }
.setting-list li{ display: table; width: 100%; height: 60px;

}
.setting-list li .setting-cell .k-dropdown { margin:0 5px; }
.setting-list li .setting-cell{ display: table-cell; vertical-align: middle; text-align: left; }
.setting-list li .setting-cell.cell1{ width:12%; text-align: center; }
.setting-list li .setting-cell.cell2{ width:20%; }
.setting-list li .setting-cell.cell3{ width:68%; }
.setting-list li:nth-child(even) {
    background-color: #f0f0f0;
}


/* Selection inner chart */
#operating-chart .k-selector .k-selection,
#monitoring-chart .k-selector .k-selection{
    border: none;
}
#operating-chart .k-selector .k-mask,
#monitoring-chart .k-selector .k-mask{
    background-color: transparent;
}
#operating-chart .k-selector .k-selection .k-handle,
#monitoring-chart .k-selector .k-selection .k-handle{
    display: none;
}

/* Tooltip */
.k-chart-tooltip{
    padding: 10px 0 10px 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 0 21px rgba(0,0,0,.13);
    -webkit-box-shadow: 0 0 21px rgba(0,0,0,.13);
    box-shadow: 0 0 21px rgba(0,0,0,.13);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=21,MakeShadow=true,ShadowOpacity=0.13);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=21,MakeShadow=true,ShadowOpacity=0.13)";
    font-size: 14px;
    z-index: 10000;

}
.k-tooltip.k-chart-tooltip{border-radius: 0px;}
.k-chart-tooltip:after {
    content: '';
    display: block;
    clear: both;
}
.k-chart-tooltip .custom-chart-tooltip-container{
    float: left;
}
.k-chart-tooltip .custom-chart-tooltip-container > p {
	text-align: left;
}
.k-chart-tooltip .custom-chart-tooltip-container{
    margin-right: 10px;
}
.k-chart-tooltip .custom-chart-tooltip-group-name{
    margin: 3px 0;
    font-weight: 600;
}
.k-chart-tooltip .custom-chart-tooltip-item{
    margin-bottom: 3px;
}
.k-chart-tooltip .tooltip-item-title{
    display: inline-block;
    font-weight: 500;
    margin-right: 5px;

}
.k-chart-tooltip .tooltip-item-value{
    display: inline-block;
    font-weight: 300;
}
#operating-main-view .k-grid-toolbar { display:none; }
#operating-main-view .k-grid-excel { display: none; }

.operating-date-view .ic-date-prev,
.operating-date-view .ic-date-next,
.operating-date-view .ic-date-prev:hover,
.operating-date-view .ic-date-next:hover{ background-color: rgba(0, 0, 0, 0); border: none; box-shadow: none;}
.operating-date-view button[disabled].ic-date-prev{ background-image: url(../../src/main/resources/static-dev/images/icon/arr-date-prev.png); cursor: default; opacity: .3;}
.operating-date-view button[disabled].ic-date-next{ background-image: url(../../src/main/resources/static-dev/images/icon/arr-date-next.png); cursor: default;opacity: .3;}

#detection-main-view .bottom-box .k-grid-norecords {min-height: 300px; }

/* Group checkbox DropDownList */
#group-list-list .control-dropdown-checkbox-apply-box .k-button,
#all-zone-list-list .control-dropdown-checkbox-apply-box .k-button{
    padding-bottom: 15px;
    width: 70px;
}
#group-list-list .control-dropdown-checkbox-apply-box .k-button:first-child,
#all-zone-list-list .control-dropdown-checkbox-apply-box .k-button:first-child{
    margin-right: 15px;
}
#group-list_listbox li,
#all-zone-list-list_listbox li{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#group-list_listbox li .custom-multiselect-check-item,
#all-zone-list-list_listbox li .custom-multiselect-check-item{
    margin-right: 5px;
}
.energy-sacMonitoring-graph-tooltip-legend-Square {
	position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    top: 5px;
    margin: 5px;
}
.energy-sacMonitoring-graph-tooltip-content-name {
	margin-left: 7px;
}
.energy-sacMonitoring-graph-tooltip-content-data {
	float: right;
}
.energy-sacMonitoring-graph-tooltip-legend-line {
	position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 2px;
    margin: 6px 1px;
    top: 6px;
	background-color: #808080
}
.energy-sacMonitoring-graph-tooltip-legend-line-complex {
	position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 2px;
    margin: 6px 1px;
    top: 8px;
}
.energy-sacMonitoring-graph-tooltip-legend-circle-complex {
	position: absolute;
    width: 8px;
    height: 8px;
    display: block;
    top: 50%;
    margin-top: -4px;
    border-radius: 100%;
    left: 50%;
    margin-left: -4px;
}
.energy-sacMonitoring-graph-tooltip-legend-circle{
    position: relative;
    width: 8px;
    height: 8px;
    display: block;
    top: 50%;
    margin-top: -4px;
    border-radius: 100%;
    left: 50%;
    margin-left: -4px;
	background-color: #808080
}

#detection-main-view > div.middle-box > div.left-box > div > div.legendbox > span{
    text-align: right;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    font-weight: 600;
}

#detection-main-view > div.middle-box{
    height: 350px;
}

/* Energy Distribution */
#energy-distribution-view-btn {
    width: 100px;
    margin-left: 10px;
}
.energy-distribution-export-btn-wrapper {
    display: inline-block;
    float: right;
    line-height: 60px;
}
#energy-distribution-grid > .k-grid-toolbar {
    display: none;
}
.energy-distribution-content-block {
    height: calc(100% - 63px);
}
.energy-distribution-layout, #energy-distribution-main-view {
    height: 100%
}
.energy-distribution-date-btn{
    display : inline-block;
    float : left;
    line-height : 60px;
    position: relative; z-index:10;
}
